@page
@model IndexModel
@{
    ViewData["Title"] = "Student Registration";
}
<style>
    body {
        background-color: #a8cbdb; /* Light blue */
    }
</style>

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
</div>
